<header>
    <div class="header-content">
        <div class="header-content-inner ">
            <h4>Проектування будинків, виготовлення каркасу, монтаж за один день</h4>
            <h1>Деревяні будинки зі зрубу</h1>
            <hr>
            <p>15 років на ринку, 150 виконаних робіт, якісна сировина</p>
            <div class="btn btn-primary">Замовити розрахунок</div>
        </div>
    </div>
</header>
<!-- <p>Натуральное дерево</p>
<p>Високая теплосберегаемость</p>
<p>Выгодная стоимость</p> -->
