<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Ми будуємо тільки якісні будинки</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumbs-o-up wow bounceIn text-primary"></i>
                    <h3>Екологічно</h3>
                    <p class="text-muted">Текст який описує екологічність.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>10 років гарантії</h3>
                    <p class="text-muted">Текст який описує екологічність.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-truck wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Власне виробництво</h3>
                    <p class="text-muted">Йдемо в крок з часом та будуємо довговічні будинки</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Професійна команда</h3>
                    <p class="text-muted">Ми піклуємося та відповідаємо за своїх людей</p>
                </div>
            </div>
        </div>
    </div>
</section>
